.bar {
      fill: steelblue;
    }

.bar:hover {
  fill: brown;
}

.label {
  fill: black;
  font: 10px sans-serif;
}

.y path, .y stroke, .y line {
  display: none;
}

.x path, .x stroke {
  display: none;
}

#iChart {
  position: relative;
  top: 50px;
  left: 100px;
}	